swagger: '2.0'
info:
  title: Fintech Platform API
  description: >
    The Fintech Platform API is a REST API that allowing you to create users accounts and
    make online payment processing. The API uses resource-oriented URLs, HTTP
    authentication and HTTP response codes to indicate API errors. JSON is
    returned by all API responses."
  contact:
    name: API Support
    email: tiziano.cappellari@upcopay.it
  version: 0.4.0
host: api.sandbox.lightbankingservices.com
schemes:
  - https
securityDefinitions:
  Basic:
    description: |
      Encode the consumer key and the consumer secret according to RFC 173.
      1. Concatenate the client id, a colon character ”:”, and the
         client secret into a single string.

      2. Base64 encode the string from the previous step.
    type: basic
  OauthSecurityApplication:
    type: oauth2
    flow: application
    tokenUrl: 'https://api.sandbox.lightbankingservices.com/rest/v1/oauth2/token'
    scopes:
      client: Client scope

produces:
  - application/json

########## OAuth2 token ##########

paths:
  '/rest/v1/oauth2/token':
    get:
      summary: Obtain a bearer token
      description: >
        Allows a registered application to obtain an OAuth 2 Bearer Token, which
        can be used to make API requests on an application's own behalf.

        This is based on the Client Credentials Grant flow of the OAuth 2
        specification. You can choose this mode by setting the parameter
        grant_type to 'client_credentials' and scope to 'client'.
      operationId: Token
      security:
        - Basic: []
      tags:
        - Token
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: grant_type
          in: query
          type: string
          description: 'Grant type'
        - name: scope
          in: query
          type: array
          items:
            type: string
          description: 'Scope'
      responses:
        '200':
          description: token
          schema:
            type: string
        '401':
          description: Invalid credentials error message
          schema:
            type: string



########## Users ##########

  '/rest/v1/fintech/tenants/{tenantId}/users':
    post:
      summary: Create a User object
      description: >-
        Create a User object.
        Events raised: USER_CREATED_EVENT (see Webhook)
      operationId: PostUsers
      tags:
        - Users
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing
            the same operation twice.
          in: header
          type: string
          format: uuid
        - name: body
          in: body
          description: User Request object.
          required: true
          schema:
            $ref: '#/definitions/UserRequest'
      responses:
        '200':
          description: User object created.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    get:
      summary: Returns the users created.
      description: >-
        Returns the users created.
        The array in response will have a maximum length based on the limit
        parameter (default 5, max 100). The response value count may exceed the limit,
        therefore subsequent API requests may be necessary.
      operationId: GetUsers
      tags:
        - Users
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: offset
          in: query
          type: integer
          format: int32
          description: Number of Users to skip from the beginning
        - name: limit
          in: query
          type: integer
          format: int32
          description: Number of Users to return
      responses:
        '200':
          description: Array of User objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/users/{userId}':
    get:
      summary: Find the specified User object.
      description: >-
        Find the specified User object.
        Events raised: USER_UPDATED_EVENT (see Webhook)
      operationId: Getuser
      tags:
        - Users
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User unique id of the User to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: User object.
          schema:
            $ref: '#/definitions/User'
        '404':
          description: >-
            User with specified userId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    put:
      summary: Update a User object.
      description: >-
        Update a User object.
        Set only params that you want to update.
        Events raised: USER_UPDATED_EVENT (see Webhook)
      operationId: PutUsers
      tags:
        - Users
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User Unique Id of the User to update
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: User object
          required: true
          schema:
            $ref: '#/definitions/UserRequest'
      responses:
        '200':
          description: User updated.
          schema:
            $ref: '#/definitions/User'
        '404':
          description: >-
            User with specified userId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/users/{userId}/picture':
    get:
      summary: Get the user picture.
      description: >-
        Get the user picture as byte array. To get the picture you have to create a bucket and post a file with the picture and update the picture parameter of user object with the bucket object id.
      operationId: GetuserPicture
      tags:
        - Users
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User unique id of the User to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: User picture.
          schema:
            type: string
            format: byte
        '404':
          description: >-
            User with specified userId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'


########## User Documents ##########

  '/rest/v1/fintech/tenants/{tenantId}/users/{userId}/documents':
    post:
      summary: Create a User Document object.
      description: >-
        Create a User Document object.
        Events raised: USER_DOCUMENT_CREATED_EVENT (see Webhook)
      operationId: PostUserDocuments
      tags:
        - UserDocuments
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User Unique Id of the User to update
          required: true
          type: string
          format: uuid
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing
            the same operation twice.
          in: header
          type: string
          format: uuid
        - name: body
          in: body
          description: User Documents Request object.
          required: true
          schema:
            $ref: '#/definitions/UserDocumentRequest'
      responses:
        '200':
          description: User Document object created.
          schema:
            $ref: '#/definitions/UserDocument'
        '404':
          description: >-
            User with specified userId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    get:
      summary: Returns user documents created.
      description: >-
        Returns the user documents created. The array in response will have a maximum length based on the limit parameter (default 5, max 100). The response value count may exceed the limit, therefore subsequent API requests may be necessary.
      operationId: GetUserDocuments
      tags:
        - UserDocuments
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User Unique Id of the User to update
          required: true
          type: string
          format: uuid
        - name: documentId
          in: path
          description: Fintech Platform Document unique id of the User Document to retrieve
          required: true
          type: string
          format: uuid
        - name: offset
          in: query
          type: integer
          format: int32
          description: Number of User Documents to skip from the beginning
        - name: limit
          in: query
          type: integer
          format: int32
          description: Number of User Documents to return
      responses:
        '200':
          description: Array of User Documents objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/UserDocument'
        '404':
          description: >-
            User Document with specified userId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/users/{userId}/documents/{documentId}':
    get:
      summary: Find the specified User Document object.
      description: >-
        Find the specified User Document object.
      operationId: GetUserDocument
      tags:
        - UserDocuments
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User Unique Id of the User to update
          required: true
          type: string
          format: uuid
        - name: documentId
          in: path
          description: Fintech Platform Document unique id of the User Document
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: User Document object.
          schema:
            $ref: '#/definitions/UserDocument'
        '404':
          description: >-
            User Document with specified userId and documentId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
              
              
########## Enterprises ##########

  '/rest/v1/fintech/tenants/{tenantId}/enterprises':
    post:
      summary: Create an Enterprise object
      description: >-
        Create an Enterprise object.
        Events raised: ENTERPRISE_CREATED_EVENT (see Webhook)
      operationId: PostEnterprises
      tags:
        - Enterprises
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing
            the same operation twice.
          in: header
          type: string
          format: uuid
        - name: body
          in: body
          description: Enterprise Request object.
          required: true
          schema:
            $ref: '#/definitions/EnterpriseRequest'
      responses:
        '200':
          description: Enterprise object created.
          schema:
            $ref: '#/definitions/Enterprise'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    get:
      summary: Returns the enterprises created.
      description: >-
        Returns the enterprises created.
        The array in response will have a maximum length based on the limit
        parameter (default 5, max 100). The response value count may exceed the limit,
        therefore subsequent API requests may be necessary.
      operationId: GetEnterprises
      tags:
        - Enterprises
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: offset
          in: query
          type: integer
          format: int32
          description: Number of Enterprises to skip from the beginning
        - name: limit
          in: query
          type: integer
          format: int32
          description: Number of Enterprises to return
      responses:
        '200':
          description: Array of Enterprise objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/Enterprise'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/enterprises/{enterpriseId}':
    get:
      summary: Find the specified Enterprise object.
      description: >-
        Find the specified Enterprise object.
        Events raised: ENTERPRISE_UPDATED_EVENT (see Webhook)
      operationId: Getenterprise
      tags:
        - Enterprises
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise unique id of the Enterprise to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Enterprise object.
          schema:
            $ref: '#/definitions/Enterprise'
        '404':
          description: >-
            Enterprise with specified enterpriseId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    put:
      summary: Update a Enterprise object.
      description: >-
        Update a Enterprise object.
        Set only params that you want to update.
        Events raised: ENTERPRISE_UPDATED_EVENT (see Webhook)
      operationId: PutEnterprises
      tags:
        - Enterprises
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise Unique Id of the Enterprise to update
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Enterprise object
          required: true
          schema:
            $ref: '#/definitions/EnterpriseRequest'
      responses:
        '200':
          description: Enterprise updated.
          schema:
            $ref: '#/definitions/Enterprise'
        '404':
          description: >-
            Enterprise with specified enterpriseId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/enterprises/{enterpriseId}/logo':
    get:
      summary: Get the enterprise logo.
      description: >-
        Get the enterprise logo as byte array. To get the logo you have to create a bucket and post a file with the logo and update the businessLogo parameter of enterprise object with the bucket object id.
      operationId: GetuserLogo
      tags:
        - Enterprises
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise unique id of the Enterprise to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Enterprise logo.
          schema:
            type: string
            format: byte
        '404':
          description: >-
            Enterpsise with specified enterpriseId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

########## Enterprise Documents ##########

  '/rest/v1/fintech/tenants/{tenantId}/enterprises/{enterpriseId}/documents':
    post:
      summary: Create a Enterprise Document object.
      description: >-
        Create a Enterprise Document object.
        Events raised: ENTERPRISE_DOCUMENT_CREATED_EVENT (see Webhook)
      operationId: PostEnterpriseDocuments
      tags:
        - EnterpriseDocuments
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise Unique Id of the Enterprise to update
          required: true
          type: string
          format: uuid
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing
            the same operation twice.
          in: header
          type: string
          format: uuid
        - name: body
          in: body
          description: Enterprise Documents Request object.
          required: true
          schema:
            $ref: '#/definitions/EnterpriseDocumentRequest'
      responses:
        '200':
          description: Enterprise Document object created.
          schema:
            $ref: '#/definitions/EnterpriseDocument'
        '404':
          description: >-
            Enterprise with specified enterpriseId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    get:
      summary: Returns enterprise documents created.
      description: >-
        Returns the enterprise documents created. The array in response will have a maximum length based on the limit parameter (default 5, max 100). The response value count may exceed the limit, therefore subsequent API requests may be necessary.
      operationId: GetEnterpriseDocuments
      tags:
        - EnterpriseDocuments
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise Unique Id of the Enterprise to update
          required: true
          type: string
          format: uuid
        - name: documentId
          in: path
          description: Fintech Platform Document unique id of the Enterprise Document to retrieve
          required: true
          type: string
          format: uuid
        - name: offset
          in: query
          type: integer
          format: int32
          description: Number of Enterprise Documents to skip from the beginning
        - name: limit
          in: query
          type: integer
          format: int32
          description: Number of Enterprise Documents to return
      responses:
        '200':
          description: Array of Enterprise Documents objects.
          schema:
            type: array
            items:
              $ref: '#/definitions/EnterpriseDocument'
        '404':
          description: >-
            Enterprise Document with specified enterpriseId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/enterprises/{enterpriseId}/documents/{documentId}':
    get:
      summary: Find the specified Enterprise Document object.
      description: >-
        Find the specified Enterprise Document object.
      operationId: GetEnterpriseDocument
      tags:
        - EnterpriseDocuments
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise Unique Id of the Enterprise to update
          required: true
          type: string
          format: uuid
        - name: documentId
          in: path
          description: Fintech Platform Document unique id of the Enterprise Document
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Enterprise Document object.
          schema:
            $ref: '#/definitions/EnterpriseDocument'
        '404':
          description: >-
            Enterprise Document with specified enterpriseId and documentId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

              
              


########## User Accounts ##########

  '/rest/v1/fintech/tenants/{tenantId}/users/{userId}/accounts':
    post:
      summary: Create an Account object.
      description: >-
        Create an Account object.
        There is a limit of one account per User.
        There are three levels of accounts:
        Level 1: Transactions worth less than 2,500€ for cash-in and/or 1,000€ for cash-out accumulated per legal year.
        Level 2: Transactions worth more than 2,500€ for cash-in and/or 1,000€ for cash-out accumulated per legal year but with credit and debit transactions worth less than 15,000€.
        Level 3: For credit and debit transactions worth more than 15,000€.
        A new user account is created as Level 1 and it needs at least the following User object information: email, name, surname, birthday, nationality and countryOfResidence; otherwise an error is throw.
        User account can be later upgraded setting the status to REQUEST_UPGRADE_TO_LEVEL2 or REQUEST_UPGRADE_TO_LEVEL3 using a 'PUT' request.
        Notice that: level 2 can be created only if User object contains all the informations of Type 1, and at least the following information: cityOfResidence, addressOfResidence, postalCode and the Document object contain a valided Identity Card Document (see document object)
        Level 3 can be created only if User object contains all the informations of Type 1 and 2, and at least the following information: occupation, incomeRange.
      operationId: PostAccounts
      tags:
        - Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User unique Id of the Owner of the Account to create
          required: true
          type: string
          format: uuid
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing the same operation twice.
          in: header
          type: string
          format: uuid
        - name: body
          in: body
          description: User Account Request object.
          required: true
          schema:
            $ref: '#/definitions/PersonalAccountAddRequest'
      responses:
        '200':
          description: User Account created.
          schema:
            $ref: '#/definitions/PersonalAccount'
        '402':
          description: More than one account for User was created or the external Account Service Provider rise an error. (error codes= max_accounts_exceeded, asp_generic_error, asp_specific_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '404':
          description: >-
            User Document with specified userId and documentId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    get:
      summary: Returns the User Accounts created.
      description: >-
        Returns all user Accounts created.
      operationId: GetUserAccounts
      tags:
        - Account
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User unique id of the User that own the Account to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: User Accounts list
          schema:
            type: array
            items:
              $ref: '#/definitions/PersonalAccount'
        '404':
          description: User Account with specified userId and accountId was not found. (error code= resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/users/{userId}/accounts/{accountId}':
    get:
      summary: Find the specified User Account object.
      operationId: GetUserAccount
      tags:
        - Account
      security:
        - OauthSecurityApplication:
            - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User unique id of the User that own the document to retrieve
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech platform Account unique Id of the User Account to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: User Account object.
          schema:
            $ref: '#/definitions/PersonalAccount'
        '404':
          description: User Account with specified userId and accountId was not found. (error code= resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    put:
      summary: Update User Account
      description: >-
        Update Account object.
        Set the status parameter to REQUEST_UPGRADE_TO_LEVEL2 or REQUEST_UPGRADE_TO_LEVEL3.
        Level 2 can be created only if User object contains all the information of Type 1 and at least the following information: cityOfResidence, addressOfResidence, postalCode and has a validated Identity Document.
        Level 3 can be created only if User object contains all the informations of Type 1 and 2 and at least the following information: occupation, incomeRange.
        Notice that to have a validated User Identity Document the AccountKYC object must have the status equal to "VALIDATED"

        Events raised: ACCOUNT_PERSONAL_UPDATE_EVENT (see Webhook)
      operationId: PutUserAccounts
      tags:
        - Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: userId
          in: path
          description: Fintech Platform User unique Id of the Owner of the Account to update
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique Id
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Account object
          required: true
          schema:
            $ref: '#/definitions/PersonalAccountUpdateRequest'
      responses:
        '200':
          description: Account object created
          schema:
            $ref: '#/definitions/PersonalAccount'
        '404':
          description: User with specified userId was not found. (error code = resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: The external Account Service Provider rise an error(error codes= asp_generic_error, asp_specific_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
              
              
########## Enterprise Accounts ##########

  '/rest/v1/fintech/tenants/{tenantId}/enterprises/{enterpriseId}/accounts':
    post:
      summary: Create an Account object.
      description: >-
        Create an Account object.
        There is a limit of one account per Enterprise.
        There are three levels of accounts:
        Level 1: Transactions worth less than 2,500€ for cash-in and/or 1,000€ for cash-out accumulated per legal year.
        Level 2: Transactions worth more than 2,500€ for cash-in and/or 1,000€ for cash-out accumulated per legal year but with credit and debit transactions worth less than 15,000€.
        Level 3: For credit and debit transactions worth more than 15,000€.
        A new user account is created as Level 1 and it needs at least the following User object information: email, name, surname, birthday, nationality and countryOfResidence; otherwise an error is throw.
        User account can be later upgraded setting the status to REQUEST_UPGRADE_TO_LEVEL2 or REQUEST_UPGRADE_TO_LEVEL3 using a 'PUT' request.
        Notice that: level 2 can be created only if User object contains all the informations of Type 1, and at least the following information: cityOfResidence, addressOfResidence, postalCode and the Document object contain a valided Identity Card Document (see document object)
        Level 3 can be created only if Enterprise object contains all the informations of Type 1 and 2, and at least the following information: occupation, incomeRange.
      operationId: PostEnterpriseAccounts
      tags:
        - Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise unique Id of the Owner of the Account to create
          required: true
          type: string
          format: uuid
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing the same operation twice.
          in: header
          type: string
          format: uuid
        - name: body
          in: body
          description: Enterprise Account Request object.
          required: true
          schema:
            $ref: '#/definitions/BusinessAccountAddRequest'
      responses:
        '200':
          description: Enterprise Account created.
          schema:
            $ref: '#/definitions/BusinessAccount'
        '402':
          description: More than one account for Enterprise was created or the external Account Service Provider rise an error. (error codes= max_accounts_exceeded, asp_generic_error, asp_specific_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '404':
          description: >-
            Enterprise Document with specified userId and documentId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    get:
      summary: Returns the Enterprise Accounts created.
      description: >-
        Returns all enterprise Accounts created.
      operationId: GetEnterpriseAccounts
      tags:
        - Account
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise unique id of the Enterprise that own the Account to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Enterprise Accounts list
          schema:
            type: array
            items:
              $ref: '#/definitions/BusinessAccount'
        '404':
          description: User Account with specified userId and accountId was not found. (error code= resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/enterprises/{enterpriseId}/accounts/{accountId}':
    get:
      summary: Find the specified Enterprise Account object.
      operationId: GetEnterpriseAccount
      tags:
        - Account
      security:
        - OauthSecurityApplication:
            - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise unique id of the Enterprise that own the document to retrieve
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech platform Account unique Id of the Enterprise Account to retrieve
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Enterprise Account object.
          schema:
            $ref: '#/definitions/BusinessAccount'
        '404':
          description: Enterprise Account with specified enterpriseId and accountId was not found. (error code= resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    put:
      summary: Update Enterprise Account
      description: >-
        Update Account object.
        Set the status parameter to REQUEST_UPGRADE_TO_LEVEL2 or REQUEST_UPGRADE_TO_LEVEL3.
        Level 2 can be created only if User object contains all the information of Type 1 and at least the following information: cityOfResidence, addressOfResidence, postalCode and has a validated Identity Document.
        Level 3 can be created only if User object contains all the informations of Type 1 and 2 and at least the following information: occupation, incomeRange.
        Notice that to have a validated Enterprise Identity Document the AccountKYC object must have the status equal to "VALIDATED"

        Events raised: ACCOUNT_BUSINESS_UPDATE_EVENT (see Webhook)
      operationId: PutEnterpriseAccounts
      tags:
        - Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: enterpriseId
          in: path
          description: Fintech Platform Enterprise unique Id of the Owner of the Account to update
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique Id
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Account object
          required: true
          schema:
            $ref: '#/definitions/BusinessAccountUpdateRequest'
      responses:
        '200':
          description: Account object created
          schema:
            $ref: '#/definitions/BusinessAccount'
        '404':
          description: Enterprise with specified enterpriseId was not found. (error code = resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: The external Account Service Provider rise an error(error codes= asp_generic_error, asp_specific_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
              


  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/balance':
    get:
      summary: Account Balance
      description: >-
        Owner Account Balance where balance represent the total amount of money that the Account Owner own and
        availableBalance represent the amount of money that the Account Owner can spend (eg. to transfer, cash-out)
        The difference between amount and availableBalance represent the amount of money deposited on an escrow account
        waiting for the first phase of the campaign ends.
      operationId: GetAccountBalance
      tags:
        - Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique Id
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account object created
          schema:
            $ref: '#/definitions/AccountBalance'
        '404':
          description: User with specified userId was not found. (error code= resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: The external Account Service Provider rise an error. (error codes= asp_generic_error, asp_specific_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

########## Accounts KYC ##########
  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/kycs':
    post:
      summary: Request needed to begin a KYC procedure
      description: >-
        Request needed to begin a KYC procedure.The procedure can take from 2h to 2 days to complete.
        After the completion (event raised: ACCOUNT_KYC_UPDATED_EVENT) the status of the request will be VALIDATED or INVALID.
        Only if VALIDATED the account can be upgraded to LEVEL2 or LEVEL3.
        In case of INVALID response, the error field contains the motivation, that would be one of this error codes:
          kyc_document_unreadable
          kyc_document_not_accepted
          kyc_document_has_expired
          kyc_document_incomplete
          kyc_document_missing
          kyc_document_do_not_match_user_data
          kyc_document_do_not_match_account_data
          kyc_document_falsified
          kyc_underage_person
          kyc_specific_case
          kyc_uncodified_error

        Events raised: (see Webhook)
            - ACCOUNT_KYC_ADDED_EVENT when request sent
            - ACCOUNT_KYC_UPDATED_EVENT when validation process is completed
      operationId: PostAccountKYC
      tags:
        - Account KYC
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing the same operation twice.
          in: header
          type: string
          format: uuid
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Account KYC Request object containing documentId, Fintech Platform Document unique id of the User Document
          required: true
          schema:
            $ref: '#/definitions/AccountKYCRequest'
      responses:
        '200':
          description: AccountKYC object.
          schema:
            $ref: '#/definitions/AccountKYC'
        '404':
          description: >-
            User Account with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    get:
      summary: Account KYC created.
      description: Returns the Account KYC requests created.
      operationId: GetAccountKYCs
      tags:
        - Account KYC
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Array of AccountKYC object.
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountKYC'
        '404':
          description: >-
            User Account with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/kycs/{kycId}':
    get:
      summary: Find the specified Account KYC.
      description: Find the specified Account KYC request.
      operationId: GetAccountKYC
      tags:
        - Account KYC
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: kycId
          in: path
          description: Fintech Platform KYC Unique Id of the validation request
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account KYC object.
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountKYC'
        '404':
          description: >-
            User Account KYC with specified userId, accountId and kycId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/kycRequiredDocuments':
    get:
      summary: Documents type required for the KYC process
      description: >-
        Return documents type required for the KYC process.
        Notice that the Nationality of User (userId) is mandatory.
      operationId: GetKYCDocumentsTypeRequired
      tags:
        - Account KYC
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account KYC Required Documents.
          schema:
            $ref: '#/definitions/AccountKYCDocumentsRequired'
        '404':
          description: >-
            User Account with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

########## Cards ##########

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedCards':
    post:
      summary: Link a new Card (Debit/Credit) to User Account.
      description: >-
        Link a new Card (Debit/Credit) to User Account.
        After linking the Card you must perform a Cash In within 30min maximum.
        After that the status parameter change to "VALIDATED". Then, it is available up to the expiry date.
        You have to set the Card alias (e.g. first 6 charactes followed by *), the expiration date and the currency of Card.
        The AccountLinkedCard obtained contains the tspRefs parameter (a json stringifield) filled with all the information that you will
        use to contact the Tokenizer Service Provider (TSP). The reply of TSP must be sent to Fintech Platform through
        the updateAccountLinkedCardTSPRefsFromId request.
        Please refer to Fintech Platform Mobile SDK for details.

        Events raised: ACCOUNT_LINKED_CARD_ADDED_EVENT (see Webhook)
      operationId: PostLinkedCard
      tags:
        - Cards
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing the same operation twice.
          in: header
          type: string
          format: uuid
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: New Card (Debit/Credit) to be linked to User Account
          required: true
          schema:
            $ref: '#/definitions/AccountLinkedCardRequest'
      responses:
        '200':
          description: AccountKYC object.
          schema:
            $ref: '#/definitions/AccountLinkedCard'
        '404':
          description: >-
            User Account Linked Card with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: The external Account Service Provider rise an error. (error codes= asp_generic_error, asp_specific_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    get:
      summary: Account Linked Cards.
      description: Returns the Account Linked Cards created
      operationId: GetCards
      tags:
        - Cards
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Array of Account Linked Cards created.
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountLinkedCard'
        '404':
          description: >-
            User Account Linked Card with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedCards/{linkedCardId}':
    get:
      summary: Specific Account Linked Card.
      description: Find the specified Account Linked Card.
      operationId: GetSpecificCards
      tags:
        - Cards
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedCardId
          in: path
          description: Fintech Platform Card unique id linked to the Account
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account Linked Card object.
          schema:
            $ref: '#/definitions/AccountLinkedCard'
        '404':
          description: >-
            User Account Linked Card with specified userId, accountId and cardId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    put:
      summary: Update the Account Linked Card with the reply of TSP.
      description: >-
        Update the Account Linked Card with the reply of TSP.
        Events raised: ACCOUNT_LINKED_CARD_UPDATED_EVENT (see Webhook)
      operationId: PutLinkedCard
      tags:
        - Cards
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedCardId
          in: path
          description: Fintech Platform Card unique id linked to the Account
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Account object
          required: true
          schema:
            type: object
            properties:
              tspPayload:
                description: tspPayload
                type: string
      responses:
        '200':
          description: Account Linked Cards created.
          schema:
            $ref: '#/definitions/AccountLinkedCard'
        '404':
          description: User Account Linked Card with specified userId, accountId and cardId was not found. (error code= resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: The external Account Service Provider rise an error. (error codes= asp_generic_error, asp_specific_error, asp_invalid_card_number, asp_invalid_cardholder_name, asp_invalid_pin_code, asp_invalid_pin_format, asp_card_registration_errors, asp_fraud_policy_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
    delete:
      summary: Remove the Account Linked Card.
      description: >-
        Remove linked card.
        Events raised: ACCOUNT_LINKED_CARD_DELETED_EVENT (see Webhook)
      operationId: DeleteLinkedCard
      tags:
        - Cards
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - users
            - enterprises
        - name: linkedCardId
          in: path
          description: Fintech Platform Card unique id linked to the Account
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account Linked Cards deleted.
        '404':
          description: User Account Linked Card with specified userId, accountId and cardId was not found. (error code= resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedCardsTestCards':
    get:
      summary: Obtain a list of Test Cards (Debit/Credit) that can be used to Sandbox environment.
      description: >-
        * Sanbox only *
        Obtain a list of Test Cards (Debit/Credit) that can be used to Sandbox environment.
      operationId: GetTestCards
      tags:
        - Cards
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: List of Debit/Credit Cards
          schema:
            $ref: '#/definitions/CardTest'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedCards/{linkedCardId}/default':
    put:
      summary: Set the default Card.
      description: >-
        Set the default Card. All other cards linked to the same account
        will be set to default = false.

        Events raised: ACCOUNT_LINKED_CARD_DEFAULT_UPDATED_EVENT (see Webhook)
      operationId: EditDefaultCards
      tags:
        - Cards
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedCardId
          in: path
          description: Fintech Platform Card unique id linked to the Account
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account Linked Card object.
          schema:
            $ref: '#/definitions/AccountLinkedCard'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

########## Cash In ##########
  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedCards/{linkedCardId}/cashIns':
    post:
      summary: Transfer money from Linked Card to Account.
      description: >-
        Transfer money from Linked Card cardId to Account accountId.
        You have to set the amount and currency to transfer.
        If the Card issuer request to perform a Secure3D procedure, you have to redirect the user to the redirectURL web page.
        Check the secure3Drequired flag to know if you need to perform the Secure3D procedure.
        The cash in status goes directly from REQUEST to SUCCEEDED (or FAILED) in case of no 3Dsecure required.
        Otherwise the status goes from REQUEST to CREATED and only after the 3D procedure is completed goes to SUCCEEDED (or FAILED).
        Register to ACCOUNT_TRANSACTION_LINKED_CARD_CASH_IN_UPDATE_EVENT Event (see Webhook) to keep track of status changes.
        Events raised: ACCOUNT_TRANSACTION_LINKED_CARD_CASH_IN_ADDED_EVENT (see Webhook)
      operationId: PostCashIn
      tags:
        - Cash In
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing the same operation twice.
          in: header
          type: string
          format: uuid
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedCardId
          in: path
          description: Fintech Platform Linked Card unique Id linked to accountId
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Amount money to tranfer into Account
          required: true
          schema:
            type: object
            properties:
              amout:
                $ref: '#/definitions/Money'
      responses:
        '200':
          description: Linked Card Cash In object.
          schema:
            $ref: '#/definitions/LinkedCardCashIn'
        '404':
          description: >-
            User Account Linked Card with specified userId, accountId and cardId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: >-
            The external Account Service Provider rise an error.
            (error codes: asp_generic_error, asp_specific_error,
            asp_transaction_amount_is_higher_than_maximum_permitted_amount, asp_transaction_amount_is_lower_than_lower_permitted_amount
            asp_invalid_transaction_amount, asp_creditedfunds_must_be_more_than_0, asp_the_card_has_expired, asp_the_card_is_inactive
            asp_maximum_amount_exceeded, asp_maximum_uses_exceeded, asp_debit_limit_exceeded, asp_transaction_refused
            asp_secure_mode_3dsecure_authentication_has_failed, asp_secure_mode_the_card_is_not_enrolled_with_3dsecure,
            asp_secure_mode_card_not_compatible_with_3dsecure, asp_secure_mode_3dsecure_authentication_session_has_expired
            asp_secure_mode_3dsecure_authentication_not_available, asp_blocked_due_to_a_debited_user_kyc_limitations,
            asp_fraud_policy_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    get:
      summary: Get Cash Ins created.
      description: >-
        The array in response will have a maximum length based on the limit
        parameter (default 5, max 100). The response value count may exceed the limit, therefore subsequent API requests may be necessary.
      operationId: GetCashIns
      tags:
        - Cash In
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedCardId
          in: path
          description: Fintech Platform Linked Card unique Id linked to accountId
          required: true
          type: string
          format: uuid
        - name: offset
          in: query
          type: integer
          format: int32
          description: Number of Cash In with the given Linked Card to skip from the beginning
        - name: limit
          in: query
          type: integer
          format: int32
          description: Number of Cash In with the given Linked Card to return
      responses:
        '200':
          description: Array of Account Linked Cards Cash Ins created.
          schema:
            type: array
            items:
              $ref: '#/definitions/LinkedCardCashIn'
        '404':
          description: >-
            User Account Linked Card with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedCards/{linkedCardId}/cashIns/{transactionId}':
    get:
      summary: Find the specified Cash In transaction.
      description: Find the specified Account Linked Card Cash In transaction.
      operationId: GetSpecificCashInTransaction
      tags:
        - Cash In
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedCardId
          in: path
          description: Fintech Platform Card unique id linked to the Account
          required: true
          type: string
          format: uuid
        - name: transactionId
          in: path
          description: Fintech Platform Transaction unique Id
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account Linked Cards Cash In specified.
          schema:
            $ref: '#/definitions/AccountLinkedCard'
        '404':
          description: >-
            User Account Linked Card Cash In with specified userId, accountId, cardId and transactionId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedCards/{linkedCardId}/cashInsFee':
    get:
      summary: Get Fee from Cash In.
      description: Returns the Fee from Cash In Linked Card.
      operationId: GetCashInFee
      tags:
        - Cash In
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedCardId
          in: path
          description: Fintech Platform Card unique id linked to the Account
          required: true
          type: string
          format: uuid
        - name: amount
          in: query
          description: Transfer value
          required: true
          type: number
          format: long
        - name: currency
          in: query
          description: Transfer Currency
          required: true
          type: string
      responses:
        '200':
          description: Account Linked Card Cash In Fee applied.
          schema:
            $ref: '#/definitions/Money'
        '404':
          description: >-
            User Account Linked Card Cash In with specified userId, accountId and cardId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

########## Bank Account ##########

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedBanks':
    post:
      summary: Link a new Bank Account to User Account.
      description: >-
        Link a new Bank Account to User Account.
        You have to set the IBAN.
        Notice that is mandatory to set the address of residence of User.
        Events raised: ACCOUNT_LINKED_BANK_ADDED_EVENT (see Webhook)
      operationId: PostBankAccount
      tags:
        - Bank Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing the same operation twice.
          in: header
          type: string
          format: uuid
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Bank account address to linked to Fintech Platform Account.
          required: true
          schema:
            type: object
            properties:
              iban:
                type: string
              bic:
                type: string
      responses:
        '200':
          description: Account Linked Bank object.
          schema:
            $ref: '#/definitions/AccountLinkedBank'
        '404':
          description: >-
            User Account Linked Bank with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: >-
            The external Account Service Provider rise an error.
            (error codes: asp_generic_error, asp_specific_error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    get:
      summary: Get Linked Banks created.
      description: >-
        Returns the Account Linked Banks created.
      operationId: GetBanks
      tags:
        - Bank Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Array of Account Linked Banks created.
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountLinkedBank'
        '404':
          description: >-
            User Account Linked Bank with specified userId and accountId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedBanks/{linkedBankId}':
    get:
      summary: Specific Account Linked Bank.
      description: Find the specified Account Linked Bank.
      operationId: GetSpecificBank
      tags:
        - Bank Account
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedBankId
          in: path
          description: Fintech Platform Bank unique id linked to the Account
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Account Linked Bank object.
          schema:
            $ref: '#/definitions/AccountLinkedBank'
        '404':
          description: >-
            User Account Linked Bank with specified userId, accountId and bankId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

########## Cash Out ##########

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedBanks/{linkedBankId}/cashOuts':
    post:
      summary: Transfer money from Account to Bank.
      description: >-
        Transfer money from account accountId to bank account bankAccountId.
        You need to set the amount and currency to transfer.
        In production environment Cash Out will have a "CREATED" Status until they are treated by the compliance team.
        In sandbox environment Cash Out will be processed automatically and goes directly to "SUCCEEDED"/"FAILED" status.
        Register to ACCOUNT_TRANSACTION_LINKED_CARD_CASH_OUT_UPDATE_EVENT  to keep track of status changes.

        Events raised: ACCOUNT_TRANSACTION_LINKED_CARD_CASH_IN_ADDED_EVENT (see Webhook)

      operationId: PostCashOut
      tags:
        - Cash Out
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: Idempotency-Key
          description: >-
            Idempotency value. Used to safely retrying requests without accidentally performing the same operation twice.
          in: header
          type: string
          format: uuid
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedBankId
          in: path
          description: Fintech Platform Linked Bank unique Id linked to accountId
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Bank account address to linked to Fintech Platform Account.
          required: true
          schema:
            type: object
            properties:
              amout:
                $ref: '#/definitions/Money'
              bankWireRef:
                description: Custom reference that will appear on the userâ€™s bank statement
                type: string
      responses:
        '200':
          description: Linked Bank Cash Out object.
          schema:
            $ref: '#/definitions/LinkedBankCashOut'
        '404':
          description: >-
            User Account Linked Bank with specified userId, accountId and bankId was not found. (error code: resource_not_found)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        '402':
          description: >-
            The external Account Service Provider rise an error.
            (error codes: asp_generic_error, asp_specific_error,
            asp_insufficient_wallet_balance, asp_transaction_amount_is_higher_than_maximum_permitted_amount,
            asp_transaction_amount_is_lower_than_lower_permitted_amount, asp_invalid_transaction_amount,
            asp_blocked_due_to_a_debited_user_kyc_limitations, asp_fraud_policy_error, asp_generic_withdraw_error,
            asp_bank_wire_refused, asp_associated_bank_not_active)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

    get:
      summary: Get Cash Outs created.
      description: >-
        The array in response will have a maximum length based on the limit
        parameter (default 5, max 100). The response value count may exceed the limit, therefore subsequent API requests may be necessary.
      operationId: GetCashOuts
      tags:
        - Cash Out
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedBankId
          in: path
          description: Fintech Platform Linked Bank unique Id linked to accountId
          required: true
          type: string
          format: uuid
        - name: offset
          in: query
          type: integer
          format: int32
          description: Number of Cash Out with the given Linked Bank to skip from the beginning
        - name: limit
          in: query
          type: integer
          format: int32
          description: Number of Cash Out with the given Linked Bank to return
      responses:
        '200':
          description: Array of Account Linked Banks Cash Outs created.
          schema:
            type: array
            items:
              $ref: '#/definitions/LinkedBankCashOut'
        '404':
          description: >-
            User Account Linked Bank with specified userId and accountId was not found. (error code: resource_not_found).
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        default:
          description: Cross error (Forbidden, BadRequest or Internal Server Error)
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'

  '/rest/v1/fintech/tenants/{tenantId}/{accountType}/{ownerId}/accounts/{accountId}/linkedBanks/{linkedBankId}/cashOuts/{transactionId}':
    get:
      summary: Find the specified Cash Out transaction.
      description: Find the specified Account Linked Card Bank Out transaction.
      operationId: GetSpecificCashOutTransaction
      tags:
        - Cash Out
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - OauthSecurityApplication:
          - client
      parameters:
        - name: tenantId
          in: path
          description: Fintech Platform Tenant unique Id
          required: true
          type: string
          format: uuid
        - name: accountType
          in: path
          description: Fintech Platform Account Type
          required: true
          type: string
          enum:
            - personal
            - business
        - name: ownerId
          in: path
          description: Fintech Platform Unique Id of the owner the Fintech Account (userId or enterpriseId)
          required: true
          type: string
          format: uuid
        - name: accountId
          in: path
          description: Fintech Platform Account unique id owned by the User
          required: true
          type: string
          format: uuid
        - name: linkedBankId
          in: path
          description: Fintech Platform Bank unique id linked to the Account
          required: true
          type: string
          format: uuid
[...]
